body{
    background-color: black;
    color: white;
}
.container{
    /* border: 2px solid red; */
    width: 80%;
    margin: auto;
    background-color: rgb(61, 59, 59);
    border-radius: 20px;

}
.heading{
    font-family: 'Lobster', cursive;

}
#title{
    font-size: 90px;
    text-align: center;
}
#span1{
    color: red;
}
#img-div{
    /* border: 2px solid red; */
    text-align: center;
}
#image{
    width: 400px;
    border-radius: 40px;
}
#info{
    /* border: 1px solid red; */
    width: 80%;
    margin: 20px auto;
    text-align: justify;
    font-size: 1,8rem;

}
#marvel{
    color: red;
    margin-left: 10%;
}
ul{
    width: 80%;
    margin: auto;

}
li{
    line-height: 2rem;
    font-size: 18px
}
#footer{
    /* border: 1px solid red; */
    margin: 2rem;
    padding: 2rem;
    text-align: center;
    font-size: 1,75rem;

}
#link{
    text-decoration: none;
    color: white;
    border: 2px solid darkorange;
    padding: 1rem;
    border-radius: 10rem;
    background-color: black;
}
#link:hover{
    background-color: rgb(41, 39, 39);
    color: red;
}